{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    
    <div class="main" role="main">
        <main class="techpresentation">
            <article>
                {{ content }}
            </article>
        </main>        
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>