/*
Set the default colors
*/
html {
    background-color: $page-background-color;
}

body {
    // margin: 2%;
    max-width: 960px;
    margin: auto;
    background-color: $body-background-color;
}

* {
    //font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: $font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //font-family: 'Open Sans', sans-serif;
    font-family: 'Manuale', serif;
}

img, embed, object, video {
    max-width: 100%;
}

img + em {
    font-style: italic;
    font-weight: bold;
    color: $comp-down-dark;
    font-size: 0.8em;
}

.logo img {
    width: 100px;
    height: 100px;
    min-width: 50px;
    min-height: 50px;
    float: left;
    margin-right: 50px;
}

.header {
    padding: 1rem;
    background-color: $background-color;
    margin-top: 1rem;
}

.header a {
    text-decoration: none;
}

.footer {

    margin-top: 50px;
    clear: right;
    padding: 10px;
    font-style: italic;
    border-top: 2px solid $background-accent-color;
    font-size: 0.9rem;
}

.main {
    padding: 2rem;
}

.main img {
    float: right;
}
