// Color palette
$main-color: #a06d00;
$comp-down-dark-shade: #383417;
$comp-down-dark: #534e21;
$comp-down-light: #857711;
$comp-up-light: #206591;
$comp-up-dark: #084e57;
$comp-up-dark-shade: #032d33;
$black-tint: #0e0d0e;

$font-color: #cdcdcd;
$font-alternative-color: #dedede;
$body-background-color: $black-tint;
$page-background-color: #000;
$report-heading: $comp-up-light;


img {
    filter: brightness(0.8) contrast(1.2);
}
