.designgrid {
    display: grid;

    width: 100%;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 8vh);

    .mycite {
        grid-column: 5 / 7;
        grid-row: 2 / 4;

        font-size: 5vw;
    }

    .introtxt {
        grid-column: 4 / 7;
        grid-row: 7 / 11;
        padding: 2em;
        background-color: $transparent-background;
    }
}

.designgrid > p:first-child {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
}

@media (min-width: 960px) {
    .mycite {
        font-size: 3rem !important;
    }
}

@media (max-width: 750px) {
    .designgrid .introtxt {
        grid-column: 1 / 7;
    }
}

@media (max-width: 650px) {
    .designgrid .introtxt {
        grid-row: 6 / 10;
    }
}

@media (max-width: 550px) {
    .designgrid .introtxt {
        grid-row: 5 / 9;
    }
}

@media (max-width: 450px) {
    .designgrid .introtxt {
        background-color: $body-background-color;
    }
}



