$accent-color: $main-color; //#ee6c4d;
$background-color: $comp-up-dark; // #9370db;
$background-accent-color: $black-tint;
$background-alternative-color: $comp-up-dark-shade;//#000080;

$distance-space: 10px;



